body{
  background-color: #232323;
  margin: 0;
  font-family: cursive;
}
.square{
  width: 30%;
  padding-top: 30%;
  margin: 1.66%;
  float: left;
  background-color: purple;
  border-radius: 20px;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz -transition: background 0.6s;
}

.container{
  max-width: 600px;
  margin: 20px auto;
}

#colorDisplay{
  font-size: 200%;
}

h1{
  color: #ffffff;
  padding: 20px 0;
  background-color: steelblue;
  margin:0;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
}

#message{
  display: inline-block;
  width: 12em;
  text-transform: uppercase;

}

button{
  font-family: cursive;
  border: none;
  background: none;
  height: 100%;
  color: steelblue;
  font-weight: 700;
  text-transform: uppercase;
  font-size: inherit;
  letter-spacing: 1px;
  transition: all 0.2s;
  -webkit-transition: all  0.2s;
  -moz -transition: all 0.2s;
}

button:hover{
  background-color: steelblue;
  color: white;
}

button:focus{
  outline: none;
}

.selected{
  background-color: steelblue;
  color: white;
}

#menu{
  background-color: #ffffff;
  text-align: center;
  height: 30px;
}
